<div class="row search-sticky">
  <div class="col-lg-8 col-md-12">
    <div class="input-group mb-md-5 mb-sm-2">
      <input
        #inputSearch
        type="text"
        class="form-control"
        aria-label="search for any pokemon"
        placeholder="Type the pokemon name"
      />
      <span
        class="input-group-text cursor-pointer"
        (click)="getPokemonByName(inputSearch.value)"
      >
        <i class="fab fa-searchengin"></i>
      </span>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <p class="text-md-right text-sm-center text-xs-center">
      <strong>Count</strong>:
      {{ pokemonList?.length + " of " + totalPokemons }}
    </p>
  </div>
</div>

<div class="row mt-sm-2">
  <div
    class="col-lg-3 col-md-4 col-xs-12 mb-2"
    *ngFor="let pokemon of pokemonList"
  >
    <div class="card cursor-pointer" (click)="openPokemonDetails(pokemon?.url)">
      <div class="card-body text-center">
        <strong>
          {{ pokemon?.name }}
        </strong>
      </div>
    </div>
  </div>
  <div class="col-12 mt-3 d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="getNextPokemonList()"
    >
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>
</div>
