<div class="row">
  <div class="col-12">
    <div class="input-group mb-5">
      <input
        #inputSearch
        type="text"
        class="form-control"
        aria-label="search for any pokemon"
        placeholder="Type the pokemon name"
      />
      <span
        class="input-group-text cursor-pointer"
        (click)="getPokemonByName(inputSearch.value)"
      >
        <i class="fab fa-searchengin"></i>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3 mb-2" *ngFor="let pokemon of pokemonList">
    <div class="card cursor-pointer" (click)="openPokemonDetails(pokemon?.url)">
      <div class="card-body">
        {{ pokemon?.name }}
      </div>
    </div>
  </div>
  <div class="col-12 mt-3 d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="getNextPokemonList()"
    >
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>
</div>
