<div class="modal-header">
  <h4 class="modal-title">{{ pokemonDetails.name }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-6">
      <img
        src="{{ pokemonDetails.sprites.other.dream_world.front_default }}"
        alt="{{ pokemonDetails.name + ' image from dream world.' }}"
        width="200"
      />
    </div>
    <div class="col-6">
      <div class="row mb-2">
        <div class="col-12">
          <strong>Type</strong>
        </div>
        <div class="col-12" *ngFor="let type of pokemonDetails.types">
          {{ type.type.name }}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <strong>Abilities</strong>
        </div>
        <div class="col-12" *ngFor="let ability of pokemonDetails.abilities">
          {{ ability.ability.name }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
