$screen-xs-min: 576px;
@mixin xs {
  @media (max-width: #{$screen-xs-min}) {
    @content;
  }
}

.header-sticky {
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;

  @include xs {
    padding-bottom: 50px;
  }
}
